.anounceComp__frame{
    border: 3px solid #C79572;
    background: #FFF8F3 !important;
    border-radius: 50px;
    width: 556px;
    height: 232px;  
    .anounceComp-img__ok{
        width: 209.87px;
        height: 200px;
        padding: 20px 10px;
    }
    .anounceComp-info{
        font-weight: 700;
        font-size: 30px;
        text-align: center;
    }
}
.anounceComp-img__cancel{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
}
.ant-modal-body{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.ant-modal-content{
    background-color: transparent !important;
    box-shadow: none !important;
}